################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/src/OdataServiceClient/.vs/OdataServiceClient/v16
/src/OdataServiceClient/OdataServiceClient.Konsole/obj
/src/OdataServiceServer/.vs/OdataServiceServer/v16
/src/OdataServiceServer/OdataServiceServer/bin/Debug/net5.0
/src/OdataServiceServer/OdataServiceServer/obj
/src/OdataServiceClient/OdataServiceClient.Konsole/bin/Debug/net5.0
/src/OdataServiceClient/.vs/OdataServiceClient/DesignTimeBuild
/src/OdataServiceServer/.vs/OdataServiceServer/DesignTimeBuild
/src/OdataServiceClient/OdataServiceClient.Local.Konsole/bin/Debug/net5.0
/src/OdataServiceClient/OdataServiceClient.Local.Konsole/obj
/src/OdataServiceClient/OdataServiceClient.BruSAP.Konsole.1/bin/Debug/net5.0
/src/OdataServiceClient/OdataServiceClient.BruSAP.Konsole.1/obj
/src/OdataServiceClient/OdataServiceClient.SAP.Konsole/bin/Debug/net5.0
/src/OdataServiceClient/OdataServiceClient.SAP.Konsole/obj
/src/OdataServiceClient/OdataServiceClient.BruSAP.Konsole.V2/bin/Debug/net5.0
/src/OdataServiceClient/OdataServiceClient.BruSAP.Konsole.V2/obj/Debug/net5.0
/src/OdataServiceClient/OdataServiceClient.BruSAP.Konsole.V2/obj
/src/OdataServiceClient/packages
/src/OdataServiceClient/OdataService.BruSAP.Konsole.V1/obj
/src/OdataServiceClient/OdataService.BruSAP.Konsole.V2/obj
/src/OdataServiceClient/OdataService.BruSAP.Konsole.V2/bin/Debug/net5.0
/src/OdataServiceClient/OdataService.Konsole.Net48/bin
/src/OdataServiceClient/OdataService.Konsole.Net48/obj
